.header {
  background: linear-gradient(to right, #111, #2b2b2b);
  color: white;
  padding: 15px 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  font-size: 14px;
}

.header {
  background: linear-gradient(to right, #111, #2b2b2b);
  color: white;
  padding: 15px 20px; /* 👈 agrega padding lateral */
}